In [2]:
import pandas as pd
data = pd.read_csv('train.csv')
print(data)

          id   timestamp  full_sq  life_sq  floor  max_floor  material  \
0          1  2011-08-20       43     27.0    4.0        NaN       NaN
1          2  2011-08-23       34     19.0    3.0        NaN       NaN
2          3  2011-08-27       43     29.0    2.0        NaN       NaN
3          4  2011-09-01       89     50.0    9.0        NaN       NaN
4          5  2011-09-05       77     77.0    4.0        NaN       NaN
...      ...         ...      ...      ...    ...        ...       ...
30466  30469  2015-06-30       44     27.0    7.0        9.0       1.0
30467  30470  2015-06-30       86     59.0    3.0        9.0       2.0
30468  30471  2015-06-30       45      NaN   10.0       20.0       1.0
30469  30472  2015-06-30       64     32.0    5.0       15.0       1.0
30470  30473  2015-06-30       43     28.0    1.0        9.0       1.0

       build_year  num_room  kitch_sq  ...  cafe_count_5000_price_2500  \
0             NaN       NaN       NaN  ...                           9
1             NaN       NaN       NaN  ...                          15
2             NaN       NaN       NaN  ...                          10
3             NaN       NaN       NaN  ...                          11
4             NaN       NaN       NaN  ...                         319
...           ...       ...       ...  ...                         ...
30466      1975.0       2.0       6.0  ...                          15
30467      1935.0       4.0      10.0  ...                         313
30468         NaN       1.0       1.0  ...                           1
30469      2003.0       2.0      11.0  ...                          22
30470      1968.0       2.0       6.0  ...                           5

      cafe_count_5000_price_4000 cafe_count_5000_price_high  \
0                              4                          0
1                              3                          0
2                              3                          0
3                              2                          1
4                            108                         17
...                          ...                        ...
30466                          5                          0
30467                        128                         24
30468                          1                          0
30469                          1                          1
30470                          2                          0

       big_church_count_5000  church_count_5000  mosque_count_5000  \
0                         13                 22                  1
1                         15                 29                  1
2                         11                 27                  0
3                          4                  4                  0
4                        135                236                  2
...                      ...                ...                ...
30466                     15                 26                  1
30467                     98                182                  1
30468                      2                 12                  0
30469                      6                 31                  1
30470                      7                 16                  0

       leisure_count_5000  sport_count_5000  market_count_5000  price_doc
0                       0                52                  4    5850000
1                      10                66                 14    6000000
2                       4                67                 10    5700000
3                       0                26                  3   13100000
4                      91               195                 14   16331452
...                   ...               ...                ...        ...
30466                   2                84                  6    7400000
30467                  82               171                 15   25000000
30468                   1                11                  1    6970959
30469                   4                65                  7   13500000
30470                   9                54                 10    5600000

[30471 rows x 292 columns]